<h1 class="mt-12 ml-4 mb-8 text-3xl font-bold">{{ section.settings.cart.title }}Your Cart</h1>
<div class="flex justify-between mx-4">
  <p class="text-xs">PRODUCT</p>
  <p class="text-xs">TOTAL</p>
</div>
<div class="flex flex-col items-center">
  <hr class="my-4">
  <form class="mb-16" action="{{ routes.cart_url }}" method="post">
    {% for item in cart.items %}
      <section class="flex">
        <div class="p-4">{{ item | image_url: width: 400 | image_tag }}</div>
        <div class="flex flex-col pt-6 pr-6 pb-6">
          <div class="flex justify-between">
            <h5 class="mb-1 inline font-bold">{{ item.product.title }}</h5>
            <h4 class="inline font-bold">{{ item.price | money }}</h4>
          </div>
          <h5>{{ item.variant.title }}</h5>
          <h5 class="mb-3">{{ item.price | money }}</h5>
          <div class="flex mb-8">
            <input class="text-black w-36 mr-3 p-2" type="text" name="updates[]" value="{{ item.quantity }}">
            <a class="underline" href="{{ item.url_to_remove }}">Remove</a>
          </div>
          {% comment %}
             <div>
              <label>What do you want engraved on your precious?</label>
              <input
                class="text-black w-36"
                type="text"
                name="attributes[precious]"
                value="{{ cart.attributes.precious }}"
              >
            </div>
          {% endcomment %}
        </div>
      </section>
    {% endfor %}
    <hr class="mb-12">
    <div class="text-center">
      <h2 class="font-bold">Subtotal</h2>
      <h2 class="textxl">{{ cart.items_subtotal_price | money }}</h2>
    </div>
    <input class="block w-80 md:w-full bg-black border p-2 px-8 m-6 " type="submit" name="checkout" value="Checkout">
  </form>
  {% comment %}
     <p>{{ cart.attributes }}</p>
    <h2>{{ cart.item_count }}</h2>
    <h2>{{ cart.total_price | money }}</h2>
    <h2>{{ cart.original_total_price | money }}</h2>

    <h2>{{ cart.taxes_includes | money }}</h2>
    <h2>{{ cart.checkout_charge_amount }}</h2>
  {% endcomment %}
</div>
