<header class="bg-slate-900 text-neutral-100">
  <div class="hidden bg-gray-900 absolute h-screen w-full opacity-75 top-0 left-0 z-10" id="darkLayer"></div>
  <div class="flex justify-center">
    <div class="relative flex justify-between py-3 w-11/12 md:w-9/10">
      <div class="md:hidden w-5" id="mobile-button">{% render 'MobileHamburgerMajor' %}</div>
      <div class="hidden w-5" id="cancel">{% render 'MobileCancelMajor' %}</div>
      <img src="{{ 'logo.png' | asset_img_url: '1400x' }}" alt="Dusk Herbs" width="100">
      <nav
        class="
          hidden h-screen w-5/6 fixed top-12 left-0 flex flex-col bg-gray-800 text-white z-20
          md:relative md:top-0 md:flex md:flex-row md:h-auto md:w-auto md:bg-slate-900 md:text-neutral-100
        "
        id="mobile-menu"
      >
        {% for link in linklists['main-menu'].links %}
          <a href="{{ link.url }}" class="inline-block p-3 md:pr-5 md:py-0">
            <div class="flex">
              {{ link.title }}
              {% if link.links != blank %}
                {% render 'icon-dropdown' %}
              {% endif %}
            </div>
          </a>
          {% for childlink in link.links %}
            <a href="{{ childlink.url }}">{{ childlink.title }}</a>
          {% endfor %}
        {% endfor %}
      </nav>
      <div class="w-5">{% render 'CartMajor' %}</div>
    </div>
  </div>
</header>
