<section class="flex justify-center my-4">
  <div class="w-11/12" x-data="
      {
        addToCart() {
          let formData = new FormData($refs.product_form);

          fetch(window.Shopify.routes.root + 'cart/add.js', {
            method: 'POST',
            body: formData
          })
          .then(response => {
            return response.json();
          })
          .catch((error) => {
            console.error('Error:', error);
          });
        }
      }
    ">
    {% form 'product', product, x-ref: 'product_form' %}
      <section class="md:flex">
        {{ product | image_url: width: 400 | image_tag }}
        <div class="mt-8 md:ml-12">
          <h2 class="text-3xl py-2">{{ product.title }}</h2>
      {% comment %}
         {% if product.available %}
          <h5>In Stock!</h5>
        {% endif %}
      {% endcomment %}
      {% comment %}
         {% if product.variants %}
          <h3 class="text-2xl my-2">{{ variant.price | money }}</h3>
        {% else %}
        {% endif %}
      {% endcomment %}
      <h3 class="text-xl text-amber-500 my-2">{{ product.price | money }}</h3>

      {{ product.compare_at_price | money }}
      {% if product.available %}
        <div class="flex flex-col my-4">
          <h4 class="mb-2">Select Size:</h4>
          <select class="custom-select bg-hed hover:bg-amber-500 border-2 rounded-sm mb-4 w-1/2 md:w-1/4 appearance-none" name="id" id="id">
            {% for variant in product.variants %}
              <option
                value="{{ variant.id }}"
                {% if variant == product.selected_or_first_available_variant %}
                  selected="selected"
                {% endif %}
              >
                {{ variant.title }}
              </option>
            {% endfor %}
          </select>
          <label class="mb-2" for="quantity">Quantity:</label>
          <div class="bg-slate-900 hover:bg-amber-500 border-2 border-neutral-100 rounded-sm w-1/3 md:w-1/4 flex justify-around mb-4">
            <button id="minus" type="button">-</button>
            <input class="bg-slate-900 hover:bg-amber-500 w-1/4 p-2 mx-1" type="text" name="quantity" id="quant" min="1" value="1">
            <button id="plus" type="button">+</button>
          </div>
          {% comment %} <button class="border border-neutral-100 bg-slate-900 p-2 my-4" type="button" name="add" @click="addToCart()">
            Add to Cart
          </button> {% endcomment %}
          <button class="border border-neutral-100 border-2 bg-slate-900 hover:bg-amber-500 rounded-sm p-2 my-4 md:w-1/4" type="button" name="add">
            Add to Cart
          </button>
          {{ form | payment_button }}

          {% comment %}
             <label for="properties">Properties</label>
            <input class="text-black" type="text" name="properties[Monogram]" id="properites">
          {% endcomment %}
          
          {% else %}
        <h5>Out of Stock!</h5>
      {% endif %}

      <p class="my-6">{{ product.description }}</p>
        </div>
        
      </section>
      
      </div>
    {% endform %}
  </div>
</section>
